<% include partials/header %>

<header>
	<h2>Administration</h2>
</header>

<books-section>
	<form method="POST" action="/librarian/add">
		<label>Title</label><br />
		<input type="text" name="title"><br /><br />
		<label>Author</label><br />
		<input type="text" name="author"><br /><br />
		<input type="submit">
	</form>
	<ul id="book-list">
		<% titles.forEach(function(title) { %>
			<li><strong><%= title.Title %></strong> - <%= title.Author %></li><br />
		<% }); %>
	</ul>
</books-section>

<% include partials/footer %>